---
const { countryData = null } = Astro.props;
---

<aside
  id="slideout-panel"
  class="fixed top-16 right-0 h-[75vh] w-[400px] bg-stone-100 dark:bg-stone-900 text-black dark:text-white shadow-lg transform translate-x-full transition-transform duration-300 z-50"
>
  <div class="relative p-6 h-full overflow-y-auto">
    <button
      id="slideout-close"
      class="absolute top-4 right-4 text-stone-500 hover:text-black dark:hover:text-white text-xl"
    >
      ✕
    </button>

    <div id="slideout-content" class="text-sm">
      {countryData ? (
        <>
          <h2 class="text-lg font-semibold mb-4">{countryData.title}</h2>
          {countryData.access_rank && (
            <div class="flex mb-4">
              <div class="mr-4 shrink-0 self-center">
                <div class="size-8 bg-orange-400 rounded-full flex items-center justify-center font-bold">{countryData.access_rank}</div>
              </div>
              <div><h4 class="text-lg font-bold">Bible Access Rank</h4></div>
            </div>
          )}
          {countryData.needs_rank && (
            <div class="flex mb-4">
              <div class="mr-4 shrink-0 self-center">
                <div class="size-8 bg-amber-400 rounded-full flex items-center justify-center font-bold">{countryData.needs_rank}</div>
              </div>
              <div><h4 class="text-lg font-bold">Bible Needs Rank</h4></div>
            </div>
          )}
          <div class="mb-2">
            <p><strong>Population:</strong> {countryData.pop_total ?? "N/A"}</p>
            <p><strong>Christian Population:</strong> {countryData.pop_christian ?? "N/A"}</p>
            <p><strong>Total Languages:</strong> {countryData.lang_total ?? "N/A"}</p>
          </div>
          <p class="text-sm break-words mt-4">Link: <a href={countryData.href} class="text-blue-500 underline" target="_blank">{countryData.href}</a></p>
        </>
      ) : (
        <p>No data selected.</p>
      )}
    </div>
  </div>
</aside>

<style>
  #slideout-panel {
    transition: transform 0.3s ease;
  }
</style>