---
import { LocalePath } from '~/utils/StaticPathHelper';
export function getStaticPaths() {return LocalePath();}

import Layout from "~/layouts/PageLayout.astro";
import { SITE, getLanguageFromPath } from "~/config.js";
import i18n from '~/components/i18n/index.js';
import FuzzyDatatable from "~/components/FuzzyTableWrapper.astro";
import country_data from "~/data/country_data.json"

const locale = getLanguageFromPath(Astro.url);
const t = i18n[locale];
const countries = Object.entries(country_data).map(([id, data]) => ({id, ...data}));
const filters = [
  {
    name: t?.type ?? "Type", filterType: 'radio', filterColumn: "id", options: [
      {title: t?.continents?.All ?? 'All', value: /.+/, selected: true},
      {title: t?.territories ?? 'Territories', value: /AI|AS|AW|AX|BL|BM|BQ|BV|CC|CK|CW|CX|FK|FO|GF|GG|GI|GL|GP|GS|GU|HK|HM|IM|IO|JE|KD|KY|MF|MO|MP|MQ|MS|NC|NF|NU|PF|PM|PN|PR|RE|SH|SJ|SX|TC|TF|TK|UM|VG|VI|WF|XK|YT/},
      {title: t?.sovereign ?? "Sovereign",value: /AI|AS|AW|AX|BL|BM|BQ|BV|CC|CK|CW|CX|FK|FO|GF|GG|GI|GL|GP|GS|GU|HK|HM|IM|IO|JE|KD|KY|MF|MO|MP|MQ|MS|NC|NF|NU|PF|PM|PN|PR|RE|SH|SJ|SX|TC|TF|TK|UM|VG|VI|WF|XK|YT/, inverse: true}
    ]
  },
  {
    name: t?.region ?? "Continents", filterType: 'radio', filterColumn: "id", iconSprite: '/images/continents.svg#', options: [
      {code: '', title: t?.continents?.All ??'All', value: /.+/},
      {code: 'AF', title: t?.continents?.AF ?? 'Africa', value: /AO|BF|BI|BJ|BW|CD|CF|CG|CI|CM|CV|DJ|DZ|EG|EH|ER|ET|GA|GH|GM|GN|GQ|GW|KE|KM|LR|LS|LY|MA|MG|ML|MR|MU|MW|MZ|NA|NE|NG|RE|RW|SC|SD|SH|SL|SN|SO|SS|ST|SZ|TD|TG|TN|TZ|UG|YT|ZA|ZM|ZW/},
      {code: 'AS', title: t?.continents?.AS ?? "Asia",value: /AE|AF|AM|AZ|BD|BH|BN|BT|CC|CN|CX|GE|HK|ID|IL|IN|IO|IQ|IR|JO|JP|KG|KH|KP|KR|KW|KZ|LA|LB|LK|MM|MN|MO|MV|MY|NP|OM|PH|PK|PS|QA|SA|SG|SY|TH|TJ|TM|TR|TW|UZ|VN|YE/},
      {code: 'EU', title: t?.continents?.NA ?? "Europe", value: /AD|AL|AT|AX|BA|BE|BG|BY|CH|CY|CZ|DE|DK|EE|ES|FI|FO|FR|GB|GG|GI|GR|HR|HU|IE|IM|IS|IT|JE|LI|LT|LU|LV|MC|MD|ME|MK|MT|NL|NO|PL|PT|RO|RS|RU|SE|SI|SJ|SK|SM|UA|VA|XK/},
      {code: 'NA', title: t?.continents?.SA ?? "North America", value: /AG|AI|AW|BB|BL|BM|BQ|BS|BZ|CA|CR|CU|CW|DM|DO|GD|GL|GP|GT|HN|HT|JM|KN|KY|LC|MF|MQ|MS|MX|NI|PA|PM|PR|SV|SX|TC|TT|US|VC|VG|VI/},
      {code: 'SA', title: t?.continents?.EU ?? "South America", value: /AR|BO|BR|CL|CO|EC|FK|GF|GY|PE|PY|SR|UY|VE/},
      {code: 'OC', title: t?.continents?.OC ?? "Oceania", value: /AS|AU|CK|FJ|FM|GU|KI|MH|MP|NC|NF|NR|NU|NZ|PF|PG|PN|PW|SB|TK|TL|TO|TV|UM|VU|WF|WS/}
    ]
  }
]
---
<Layout meta={{title: t?.countries ?? "Countries", description: t?.countries ?? "Filter the countries of the world to narrow your search"}}>

<section class="mx-12 lg:mx-16">

  <div class="text-center py-8 max-w-6xl mx-auto">
    <div class="md: text-xl pb-4">Ranking where <b>Bible Shortage</b> is Greatest and <b>Bible Access</b> is Most Challenged.</div>
    <div class="text-xs md:text-base">This Bible Access List is a research initiative identifying where it is most difficult for people to access Bibles and highlights the nations with the most significant shortages. The results are based on expert analysis of 34 data points and insights from consultations with over a thousand national experts.</div>
  </div>

    <div class="relative ">

            <span class="relative top-0 left-1/2 transform -translate-x-1/2 inline-flex z-50 text-base">
              <a href={`/${locale}/`} id="access-rank-button" type="button" class="map-tab rounded-bl-lg">
                {t?.access ?? "Access"}<span class="hidden ml-1 md:block">{t?.restrictions ?? "Restrictions"}</span>
              </a>
        
            <a href={`/${locale}/`} id="needs-rank-button" type="button" class="map-tab">
                {t?.estimated ?? "Estimated"}<span class="hidden ml-1 md:block">{t?.shortage ?? "Shortage"}
                </a>
        
            <a href="#" class="map-tab rounded-br-lg">
                {t?.list ?? "List"}
            </a>
            </span>

<FuzzyDatatable data={countries} {t} {locale} {filters}
  head={[
    {id: "country", name: t?.country ?? "country", subtitle: "region", link: (row) => `/${locale}/countries/${row.id}` },
    {id: "access_rank", name: t?.access_rank ?? "access rank", type: "int", subtitle: "access_desc" },
    {id: "needs_rank", name: t?.needs_rank ?? "need rank", subtitle: "needs_range_desc" },
    {id: "ownership_range", name: t?.ownership_range ?? "ownership", subtitle: "ownership_desc" },
    {id: "pop_total", name: t?.pop_total ?? "population total" },
    {id: "pop_christian", name: t?.pop_christian ?? "christian population", subtitle: "pct_christian"},
    {id: "church_growth", name: t?.church_growth ?? "church growth" },
    {id: "religion_main", name: t?.religion_main ?? "religion" },
]} />

        <table class="w-full lite-table">
          <thead>
              <th>{t?.title ?? "Title"}</th>
              <th>{t?.population ?? "Population"}</th>
              <th>{t?.region ?? "Region"}</th>
              <th>{t?.languages ?? "Languages"}</th>
          </thead>
          <tbody>
              {countries?.map(country => (<tr>
                    <td><a href={`/${locale}/countries/${country.id}`} class="text-red-700 dark:text-red-400 hover:underline">{country.country}</a></td>
                    <td>{country.access_rank} | {country.access_desc}</td>
                    <td>{country.needs_rank} | {country.needs_range_desc}</td>
                    <td>{country.ownership_range}</td>
                </tr>))}
          </tbody>
        </table>

        </div>
</section>
</Layout>